* {
  padding: 0;
  margin: 0;
}
.magnifer {
  width: 880px;
  margin: 100px auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* display: inline-block; */
}
.magnifer .abbre {
  box-sizing: border-box;
  position: relative;
  cursor: move;
  overflow: hidden;
}
.magnifer .abbre img {
  position: absolute;
}
.magnifer .abbre .mark {
  --moveTop: "0px";
  --moveLeft: "0px";
  --markShow: "none";
  position: absolute;
  top: var(--moveTop);
  left: var(--moveLeft);
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
  /* visibility: var(--markShow); */
  display: var(--markShow);
}
.magnifer .detail {
  position: relative;
  overflow: hidden;
}
.magnifer .detail img {
  position: absolute;
  --moveTop: "0px";
  --moveLeft: "0px";
  --markShow: "none";
  top: var(--moveTop);
  left: var(--moveLeft);
  display: var(--markShow);
}
